@charset "utf-8";
body{
    margin: 0;
}
.animal-header{
    background-color: #00a381;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.animal-header .title{
    font-weight: normal;
    font-size: 48px;
    color: #fff;
    margin: 0;
    padding: 1rem;
}

